* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  background: #FFF9F0;
  height: 100%;
}

header {
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 990;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #FF5812;
  display: block;
  z-index: -2;
  position: relative;
  overflow: hidden;
  background-image: url(../images/about-main.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.aboutmain-inner {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 100px;
}
.maintitle {
  text-align: center;
  font-size: 36px;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 23px;
  z-index: -1;
  color: #fff;
}
.main p {
  text-align: center;
  font-size: 27px;
  font-family: "Noto Sans", sans-serif;
  max-width: 1250px;
  min-width: 550px;
  z-index: -1;
  color: #fff;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 0 30px;
}
.scroll{
  width:100%;
  height:auto;
}
.scroll .col{
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
}
.scroll-down-box{
  display:block;
  position:relative;
  text-decoration:none;
}
.scroll-down-box svg{
  fill:#fff;
}
.scroll-down-box .scroll-text{
  width:100px;
  height:auto;
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}
.scroll-down-box.alt .scroll-text{
  -webkit-animation: none;
  animation: none;
}
.scroll-down-box.alt:hover .scroll-text{
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}
.scroll-down-box .scroll-icon{
  width:25px;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.scroll-down-box.alt .scroll-icon{
  width:35px;
}
.scroll-down-box:hover .scroll-icon{
  -webkit-animation: move 1s infinite linear;
  animation: move 1s infinite linear;
}
.scroll-down-box.alt:hover .scroll-icon{
  -webkit-animation: none;
  animation: none;
}
@keyframes rotation {
    from {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg); transform: rotate(359deg);}
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg); transform: rotate(359deg);}
}

.spheader {
  display: block;
}
#spg-nav{
  position:fixed;
  z-index: 999;
  top:0;
  right: -120%;
  width:100%;
  height: 100vh;
  background:#fff;
  transition: all 0.6s;
}
#spg-nav.panelactive{
  right: 0;
}
#spg-nav.panelactive #spg-nav-list{
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
#spg-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#spg-nav li{
  list-style: none;
  text-align: left;
}
#spg-nav li a{
  font-family: "Jost", sans-serif;
  color: #000;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-family: "Fredoka", sans-serif;
}
#spg-nav li a:hover{
  color: #FF5812;
  transition: 0.5s;
}
.openbtn{
  display: block;
  position:fixed;
  z-index: 9999;
  top:40px;
  right: 40px;
  cursor: pointer;
  width: 60px;
  height:60px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #000;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top:21px;	
}
.openbtn span:nth-of-type(2) {
  top:29px;
}
.openbtn span:nth-of-type(3) {
  top:37px;
}
.openbtn.active {
  border: none;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#about {
  background-color: #FFF9F0;
  position: relative;
}
.about-box {
  padding: 200px 0;
}
.about-box h4{
  max-width: 1157px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto;
  padding: 0 30px 200px 30px;
}
.concept {
  display: flex;
  gap: 20px;
  align-items: center;
}
.concept-img {
  max-width: 1400px;
  height: auto;
  overflow:hidden;
  border-radius: 0 80px 80px 0;
}
.concept img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.concept p{
  padding-right: 20px;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
}


.pirammido {
  text-align: center;
}
.pira-title {
  width: 30%;
  height: auto;
  margin-top: 180px;
}
.pirammido-ditail {
  display: flex;
  align-items: center;
  gap: 75px;
  background-color: #fff;
  margin: 0 40px;
  justify-content: center;
  padding: 50px 40px;
  border-radius: 50px;
}
.note {
  width: 49.5%;
  height: auto;
}
.piramido-list {
  display: flex;
  max-width: 420px;
  gap: 20px;
  position: relative;
}
.piramido-list::after {
  content: "※すべてイメージです";
  position: absolute;
  left: 0;
  bottom: -30px;
  font-size: 11px;
  font-family: "Noto Sans", sans-serif;
}
.list p {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}
.piramido-list img {
  width: 100%;
  height: auto;
}

#osusume {
  background-color: #FF5812;
  padding: 100px 0;
}
.osusume-title {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.osusume-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.osusume-img img{
  width: 100%;
  height: auto;
}

#costomer {
  padding: 100px 0;
}
.costomer-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.girl {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.girl img{
  max-width: 195px;
  height: auto;
}
.girl2 {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.girl2 img{
  max-width: 195px;
  height: auto;
}
.fukidashi {
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 22px;
  background-color: #fff;
  border: 3px solid #FF7043;
  box-shadow: -5px 5px 0 0 #FF7043;
  max-width: 920px;
  width: fit-content;
  height: fit-content;
}
.fukidashi:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}
.fukidashi:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #FF7043;
  z-index: 1;
}
.fukidashi div h4{
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.fukidashi div p{
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  max-width: 450px;
}
.fukidashi2 {
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 22px;
  background-color: #fff;
  border: 3px solid #FF7043;
  box-shadow: 5px 5px 0 0 #FF7043;
  max-width: 920px;
  width: fit-content;
  height: fit-content;
}
.fukidashi2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.fukidashi2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #FF7043;
  z-index: 1;
}
.fukidashi2 div h4{
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.fukidashi2 div p{
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  max-width: 440px;
}

.footer-inner {
  width: 100%;
  justify-content: space-between;
  background-color: #FF7043;
  gap: 0;
  display: flex;
}
.contact {
  background-color: #FF5812;
  border-radius: 0 80px 0 0;
  text-align: center;
  flex-basis: 40%;
}
.contact-inner{
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}
.contacttext-box {
  text-align: left;
  display: inline-block;
  margin-left: -70px;
}
.contact-button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 15px 30px 15px 0px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  z-index:0;
  overflow: hidden;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contact-button a:before {
  content: url(../images/arrow.png);
  transform: scale(0.5);
  position: absolute;
  right: -17px;
  background: #000;
  padding: 30px 30px 25px 30px;
  border-radius: 60px;
  z-index: 2;
}
.contact-button a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #FF5812;
  transition: .3s;
  left:0;
}
.contact-button a:hover:after {
  width: 100%;
  z-index: -1;
}
.contact-title {
  font-family: "Jost", sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.contact-text {
  font-size: 14px;
  margin-bottom: 40px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  color: #fff;
}
.sns {
  display: flex;
  margin-top: 80px;
  margin-left: 20%;
}
.x {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
.insta {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 120px;
  text-align: center;
}
.footer-nav{
  gap: 160px;
  padding: 100px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-list ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 20%;
}
.footer-list li {
  font-size: 14px;
}
.p1{
  margin-top: 15px;
  font-size: 12px;
}
.p2{
  margin-top: 5px;
  font-size: 12px;
}
.footer-list li a{
  color: #fff;
  font-family: "Jost", sans-serif;
}
.nav-title1 {
  font-family: "Fredoka", sans-serif;
  letter-spacing: 5px;
  margin: 0px 0 25px 0;
  font-size: 36px;
  display: block;
  color: #fff;
  font-weight: bold;
}
.nav-title2 {
  display: none;
}

.copylight {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 1100px) {
  .pira-title {
    width: 50%;
}
  .pirammido-ditail {
    display: block;
  }
  .note {
    width: 100%;
  }
  .piramido-list {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 10%;
  }
}

@media screen and (max-width: 1060px) { 
  .footer-inner {
      display: block;
      padding-bottom: 50px;
      border-radius: 0 80px 0 0;
  }
  .contact {
      width: 100%;
  }
  .footer-nav {
      display: block;
  }
  .footer-list {
      margin-left: 20%;
  }
  .footer-list ul {
      display: block;
      width: 100px;
      margin-left: 10%;
  }
  .footer-list li {
      margin-bottom: 20px;
  }
  .p1{
      margin-top: 5px;
  }
  .nav-title2 {
      display: block;
      text-align: center;
      margin: 50px 0 25px 0;
      font-size: 36px;
      font-family: "Fredoka", sans-serif;
      letter-spacing: 5px;
      color: #fff;
      font-weight: bold;
  }
  .nav-title1 {
      display: none;
  }
  .sns {
      margin-left: 10%;
  }
  }

@media screen and (max-width: 960px) {
  .osusume-img {
    grid-template-columns: 1fr 1fr;
  }

  .inner {
    display: block;
  }
  .inner img{
    display: block;
    margin-bottom: 80px;
  }
  .item {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .main {
    background-image: url(../images/about-mainsp.jpg);
  }
  .main p {
    font-size: 18px;
  }
  .concept {
    display: block;
  }

  .about-box {
    padding: 100px 0;
  }
  .about-box h4 {
    font-size: 17px;
    padding: 0 30px 100px 30px;
  }
  .concept p {
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
  }
  .pira-title {
    margin-top: 100px;
  }

  .osusume-title {
    font-size: 30px;
  }

  .costomer-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main p {
    font-size: 17px;
    min-width: 0;
  }

  .about-box h4 {
    font-size: 17px;
  }

  .osusume-img {
    display: block;
  }
  .pirammido-ditail {
    margin: 0 15px;
  }

  .girl {
    padding: 25px 10px;
    gap: 20px;
  }
  .girl img {
  max-width: 100px;
  height: auto;
  }
  .fukidashi div h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .fukidashi div p {
    font-size: 13px;
  }
  .fukidashi2 div h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .fukidashi2 div p {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .openbtn {
    top: 20px;
    right: 20px;
  }

  .main {
    height: 667px;
  }
  .main p {
    font-size: 14px;
    min-width: 0;
  }
  .scroll .col {
    margin-top: 50px;
  }
  .scroll-down-box .scroll-text {
    width: 80px;
  }
  .scroll-down-box .scroll-icon {
    width: 20px;
    top: 47%;
  }

  .about-box h4 {
    font-size: 14px;
  }

  .pira-title {
    margin-top: 50px;
  }
  .list p {
    font-size: 10px;
  }
  .piramido-list::after {
    font-size: 8px;
  }

  .girl-button {
    margin-top: 100px;
}
}