* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  background: #FFF9F0;
}

header {
  display: grid;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.spheader {
  display: block;
}
#spg-nav{
  position:fixed;
  z-index: 999;
  top:0;
  right: -120%;
  width:100%;
  height: 100vh;
  background:#fff;
  transition: all 0.6s;
}
#spg-nav.panelactive{
  right: 0;
}
#spg-nav.panelactive #spg-nav-list{
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
#spg-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#spg-nav li{
  list-style: none;
  text-align: left;
}
#spg-nav li a{
  font-family: "Jost", sans-serif;
  color: #000;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-family: "Fredoka", sans-serif;
}
#spg-nav li a:hover{
  color: #FF5812;
  transition: 0.5s;
}
.openbtn{
  display: block;
  position:fixed;
  z-index: 9999;
  top:40px;
  right: 40px;
  cursor: pointer;
  width: 60px;
  height:60px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #000;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top:21px;	
}
.openbtn span:nth-of-type(2) {
  top:29px;
}
.openbtn span:nth-of-type(3) {
  top:37px;
}
.openbtn.active {
  border: none;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
#item {
  padding: 150px 0 100px 0;
  text-align: center;
  background-position: 10px 10px;
  background-size: 20px 20px;
  display: flex; /* オプション: コンテンツをセンタリングするために使用 */
  justify-content: center; /* 水平方向にセンタリング */
  align-items: center; /* 垂直方向にセンタリング */
}
.item-inner {
  display: grid;
  gap: 20%;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  margin: 0 auto;
  max-width: 990px;
  align-items: center; /* 垂直方向にセンタリング */
  justify-items: center; /* 水平方向にセンタリング */
}
.item-inner img{
  max-height: 700px;
  width: auto;
  display: block;
}
.item-img2 img{
  max-height: 450px;
    width: auto;
    display: block;
}
.itemtitle {
  font-family: "Fredoka", sans-serif;
  font-size: 53px;
  margin-bottom: 5px;
  font-weight: 600;
}
.item-japanese {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.item-price {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.item-price span {
  font-size: 15px;
}
.container {
  margin-top: 25px;
}   
.field {
  display: flex;
}
.inputtext {
  border: none;
  font-size: 18px;
  max-width: 180px;
  width: 80%;
  line-height: 3rem;
  text-align: center;
  padding: 0 10px;
}
.button {
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 25px;
  background-color: white;
  border-radius: 0;
  outline: 0;
}
#down {
  border-radius: 60px 0 0 60px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
}
#textbox {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#up {
  border-radius: 0 60px 60px 0;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.resetbtn {
  margin: 20px 0 0 65px;
}
.cart {
  max-width: 320px;
  margin-top: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 60px;
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
}
.cart:hover{
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  transition: 0.7s;
  background-color: #3f3f3f;
}
.ditail-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  margin-top: 50px;
}
.ditail-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

#otheritem {
  width: 100%;
  height: auto;
}
.othertitle {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 53px;
  font-weight: 600;
  padding: 50px 0 50px 50px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide div{
  max-width: 360px;
  height: auto;
  margin: 0 auto;
}
.img1 {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.img2 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.itemname {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.space {
  margin-top: 80px;
}
.swiper-scrollbar {
  width: 300px !important;
  right: 0!important;
  left: 0!important;
  margin: 0 auto!important;
}
.swiper-wrapper {
  align-items: flex-end;
  gap: 20px;
}
.price {
  font-family: "Jost", sans-serif;
  font-size: 25px;
  color: #000;
  width: 62%;
  min-width: 150px;
  max-width: 250px;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 60px;
  font-weight: 600;
}
.price span {
  font-size: 15px;
}
.top-button {
  padding: 100px 0 100px 0;
}
.top-button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 15px 30px 15px 0px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  z-index:0;
  overflow: hidden;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.top-button a:before {
  content: url(../images/arrow.png);
  transform: scale(0.5);
  position: absolute;
  right: -17px;
  background: #000;
  padding: 30px 30px 25px 30px;
  border-radius: 60px;
  z-index: 2;
}
/* .contact-button a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #ccc;
  transition: .3s;
  left:0;
} */
.top-button a:hover:after {
  width: 100%;
  z-index: -1;
}

.footer-inner {
  width: 100%;
  justify-content: space-between;
  background-color: #FF7043;
  gap: 0;
  display: flex;
}
.contact {
  background-color: #FF5812;
  border-radius: 0 80px 0 0;
  text-align: center;
  flex-basis: 40%;
}
.contact-inner{
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}
.contacttext-box {
  text-align: left;
  display: inline-block;
  margin-left: -70px;
}
.contact-button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 15px 30px 15px 0px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  z-index:0;
  overflow: hidden;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contact-button a:before {
  content: url(../images/arrow.png);
  transform: scale(0.5);
  position: absolute;
  right: -17px;
  background: #000;
  padding: 30px 30px 25px 30px;
  border-radius: 60px;
  z-index: 2;
}
.contact-button a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #FF5812;
  transition: .3s;
  left:0;
}
.contact-button a:hover:after {
  width: 100%;
  z-index: -1;
}
.contact-title {
  font-family: "Jost", sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.contact-text {
  font-size: 14px;
  margin-bottom: 40px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  color: #fff;
}
.sns {
  display: flex;
  margin-top: 80px;
  margin-left: 20%;
}
.x {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
.insta {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 120px;
  text-align: center;
}
.footer-nav{
  gap: 160px;
  padding: 100px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-list ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 20%;
}
.footer-list li {
  font-size: 14px;
}
.p1{
  margin-top: 15px;
  font-size: 12px;
}
.p2{
  margin-top: 5px;
  font-size: 12px;
}
.footer-list li a{
  color: #fff;
  font-family: "Jost", sans-serif;
}
.nav-title1 {
  font-family: "Fredoka", sans-serif;
  letter-spacing: 5px;
  margin: 0px 0 25px 0;
  font-size: 36px;
  display: block;
  color: #fff;
  font-weight: bold;
}
.nav-title2 {
  display: none;
}

.copylight {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 1060px) { 
  .footer-inner {
      display: block;
      padding-bottom: 50px;
      border-radius: 0 80px 0 0;
  }
  .contact {
      width: 100%;
  }
  .footer-nav {
      display: block;
  }
  .footer-list {
      margin-left: 20%;
  }
  .footer-list ul {
      display: block;
      width: 100px;
      margin-left: 10%;
  }
  .footer-list li {
      margin-bottom: 20px;
  }
  .p1{
      margin-top: 5px;
  }
  .nav-title2 {
      display: block;
      text-align: center;
      margin: 50px 0 25px 0;
      font-size: 36px;
      font-family: "Fredoka", sans-serif;
      letter-spacing: 5px;
      color: #fff;
      font-weight: bold;
  }
  .nav-title1 {
      display: none;
  }
  .sns {
      margin-left: 10%;
  }
  }

@media screen and (max-width: 960px) {
  .main{
    padding-top: 0;
    height: 60vh;
  } 
  .maintitle {
    top: 300px;
    left: 50%;
    width: 80%;
  }
  .main2 {
    min-width: 400px;
  }
  .main1 {
    min-width: 400px;
  }

  .pcheader {
    display: none;
  }
  .spheader {
    display: block;
  }
  #spg-nav{
    position:fixed;
    z-index: 999;
    top:0;
    right: -120%;
    width:100%;
    height: 100vh;
    background:#fff;
    transition: all 0.6s;
  }
  
  .item-inner {
    display: block;
  }
  .item-inner img{
    max-width: 400px;
    margin: 0 auto;
  }
  .itemtitle {
    margin-top: 30px;
    margin-left: 4%;
    font-size: 36px;
  }
  .item-japanese {
    margin-left: 4%;
  }
  .item-price {
    margin-left: 4%;
  }
  .field {
    justify-content: center;
  }
  .cart {
    display: block;
    margin: 15px auto;
    max-width: 315px;
  }
  .ditail-title {
    margin-left: 4%;
  }
  .ditail-text {
    margin-left: 4%;
  }

  .othertitle {
    font-size: 36px;
    padding: 50px 0 50px 20px;
}
}

@media screen and (max-width: 450px) {
  .openbtn {
      top: 20px;
      right: 20px;
    }

}