* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    position: relative;
    background: #FFF9F0;
}

header {
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 990;
}
.spheader {
  display: block;
}
#spg-nav{
  position:fixed;
  z-index: 999;
  top:0;
  right: -120%;
  width:100%;
  height: 100vh;
  background:#fff;
  transition: all 0.6s;
}
#spg-nav.panelactive{
  right: 0;
}
#spg-nav.panelactive #spg-nav-list{
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
#spg-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#spg-nav li{
  list-style: none;
  text-align: left;
}
#spg-nav li a{
  color: #000;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-family: "Fredoka", sans-serif;
}
#spg-nav li a:hover{
  color: #FF5812;
  transition: 0.5s;
}
.openbtn{
  display: block;
  position:fixed;
  z-index: 9999;
  top:40px;
  right: 40px;
  cursor: pointer;
  width: 60px;
  height:60px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #000;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top:21px;	
}
.openbtn span:nth-of-type(2) {
  top:29px;
}
.openbtn span:nth-of-type(3) {
  top:37px;
}
.openbtn.active {
  border: none;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.product-inner {
  max-width: 1082px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.product-fragrance {
  font-family: "Fredoka", sans-serif;
  letter-spacing: 5px;
  font-size: 53px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 100px 0 50px 0;
}
.fragrance {
  width: 100%;
  height: auto;
  position:relative;
}
.border {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
.border span{
  width: 90%;
  height: 1px;
  display: inline-block;
  background-color: #000;
  margin: 100px 0;
}
.producttitle {
  font-family: "Fredoka", sans-serif;
  letter-spacing: 5px;
  font-size: 49px;
  margin-bottom: 20px;
  font-weight: 500;
  margin-left: 30px;
}
.item {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 50px 30px 0 30px;
}
.item li a {
  position:relative;
}
.item li img {
  transition:0.3s;
  display:block;
  width: 50%;
  margin: 0 auto;
  height: auto;
}
.item li img:hover{
  transform:scale(1.1);
}
.itemname {
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #000;
}
.price {
  font-family: "Jost", sans-serif;
  font-size: 23px;
  color: #000;
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 600;
}
.price  span {
  font-size: 15px;
}
.guidance {
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  width: 60%;
  margin: 0 auto;
  padding: 8px 0;
  border-radius: 60px;
}
.guidance:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  transition: 0.7s;
  background-color: #3f3f3f;
}



.footer-inner {
  width: 100%;
  justify-content: space-between;
  background-color: #FF7043;
  gap: 0;
  display: flex;
}
.contact {
  background-color: #FF5812;
  border-radius: 0 80px 0 0;
  text-align: center;
  flex-basis: 40%;
}
.contact-inner{
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}
.contacttext-box {
  text-align: left;
  display: inline-block;
  margin-left: -70px;
}
.contact-button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 15px 30px 15px 0px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  z-index:0;
  overflow: hidden;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contact-button a:before {
  content: url(../images/arrow.png);
  transform: scale(0.5);
  position: absolute;
  right: -17px;
  background: #000;
  padding: 30px 30px 25px 30px;
  border-radius: 60px;
  z-index: 2;
}
.contact-button a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #FF5812;
  transition: .3s;
  left:0;
}
.contact-button a:hover:after {
  width: 100%;
  z-index: -1;
}
.contact-title {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #fff;
}
.contact-text {
  font-size: 14px;
  margin-bottom: 40px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  color: #fff;
}
.sns {
  display: flex;
  margin-top: 80px;
  margin-left: 20%;
}
.x {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
.insta {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  margin-right: 10px;
  width: 120px;
  text-align: center;
}
.footer-nav{
  gap: 160px;
  padding: 100px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-list ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 20%;
}
.footer-list li {
  font-size: 14px;
}
.p1{
  margin-top: 15px;
  font-size: 12px;
}
.p2{
  margin-top: 5px;
  font-size: 12px;
}
.footer-list li a{
  color: #fff;
  font-family: "Jost", sans-serif;
}
.nav-title1 {
  font-family: "Fredoka", sans-serif;
  letter-spacing: 5px;
  margin: 0px 0 25px 0;
  font-size: 36px;
  display: block;
  color: #fff;
  font-weight: bold;
}
.nav-title2 {
  display: none;
}

.copylight {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 20px 0;
}
  
@media screen and (max-width: 1060px) { 
  .footer-inner {
      display: block;
      padding-bottom: 50px;
      border-radius: 0 80px 0 0;
  }
  .contact {
      width: 100%;
  }
  .footer-nav {
      display: block;
  }
  .footer-list {
      margin-left: 20%;
  }
  .footer-list ul {
      display: block;
      width: 100px;
      margin-left: 10%;
  }
  .footer-list li {
      margin-bottom: 20px;
  }
  .p1{
      margin-top: 5px;
  }
  .nav-title2 {
      display: block;
      text-align: center;
      margin: 50px 0 25px 0;
      font-size: 36px;
      font-family: "Fredoka", sans-serif;
      letter-spacing: 5px;
      color: #fff;
      font-weight: bold;
  }
  .nav-title1 {
      display: none;
  }
  .sns {
      margin-left: 10%;
  }
  }
  
@media screen and (max-width: 960px) {
  .itemname {
    font-family: "Jost", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .border span{
    margin: 70px 0;
  }
  .price {
    font-family: "Jost", sans-serif;
    font-size: 11px;
    padding: 5px 0;
    border-radius: 60px;
  }
  .price  span {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  .item {
    grid-template-columns: repeat(2, 1fr); /* 600px以下の画面で2列に変更 */
    gap: 10px;
    margin: 30px 30px 0 30px;
  }
  .item li img {
    max-width: 220px;
    width: 100%;
    height: auto;
  }
  .guidance {
    width: 80%;
    font-size: 15px;
}
}

@media screen and (max-width: 450px) {
  .openbtn {
    top: 20px;
    right: 20px;
  }

  .guidance {
    font-size: 12px;
  }

  .product-fragrance {
    font-size: 42px;
  }

  .producttitle {
    font-size: 35px;
  }

}
