* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF9F0;
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 990;
}

/* #main_canvas {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
} */
/* #myCanvas {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}  */

.main{
    width:100%;
    height: calc(100% - 10px);
    position: relative;
    background-color: #FFF9F0;
    z-index: -2;
    padding-top: 100px;
} 
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.maintitle {
    width: 100%;
    max-width: 1440px;
    min-width: 327px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: -4;
}
.catimg {
    padding-top: clamp(1.25rem, -2.711rem + 16.9vw, 12.5rem);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1100px;
    height: auto;
    gap: 15%;
    display: flex;
    margin: 0 auto;
}

.spheader {
    display: block;
}
#spg-nav{
    position:fixed;
    z-index: 999;
    top:0;
    right: -120%;
    width:100%;
    height: 100vh;
    background:#fff;
    transition: all 0.6s;
}
#spg-nav.panelactive{
    right: 0;
}
#spg-nav.panelactive #spg-nav-list{
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}
#spg-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#spg-nav li{
    list-style: none;
    text-align: left;
}
#spg-nav li a{
    color: #000;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 25px;
    font-family: "Fredoka", sans-serif;
}
#spg-nav li a:hover{
    color: #FF5812;
    transition: 0.5s;
}
.openbtn{
    display: block;
    position:fixed;
    z-index: 9999;
    top:40px;
    right: 40px;
    cursor: pointer;
    width: 60px;
    height:60px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #000;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 16px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    width: 45%;
}
.openbtn span:nth-of-type(1) {
    top:21px;	
}
.openbtn span:nth-of-type(2) {
    top:29px;
}
.openbtn span:nth-of-type(3) {
    top:37px;
}
.openbtn.active {
    border: none;
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#about {
    width: 100%;
    height: auto;
}
.title {
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FF5812;
    margin-bottom: 30px;
}
.text {
    margin-left: 30%;
    margin-top: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
}
.brsp {
    display: none;
}
.aboutbox {
    text-align: center;
    margin-bottom: 110px;
    margin-top: 160px;
    padding: 0 20px;
}
.aboutbox p{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.atensstion {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.about-button a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 15px 30px 15px 0px;
    color: #000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    z-index:0;
    overflow: hidden;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.about-btn-pa {
    margin-top: 50px;
}
.about-button {
    display: block;
}
.about-button a:before {
    content: url(../images/arrow.png);
    transform: scale(0.5);
    position: absolute;
    right: -17px;
    background: #000;
    padding: 30px 30px 25px 30px;
    border-radius: 60px;
    z-index: 2;
}
.about-button a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #FF7043;
    transition: .3s;
    left:0;
}
.about-button a:hover:after {
    width: 100%;
    z-index: -1;
}


#catfoto {
    position: relative;
}
.fot1 {
    display: block;
}
.fot2 {
    display: none;
}
.cat-textbox {
    position: absolute;
    top: 45%;
    left: 50px;
}
.cat-textbox h4{
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(1.563rem, 0.792rem + 3.29vw, 3.75rem);
    color: #fff;
}
.cat-textbox p{
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(1.063rem, 0.996rem + 0.28vw, 1.25rem);
    color: #fff;
}

model-viewer {
    width: 100vw;
    height: 100vw;
    max-width: 500px;
    max-height: 500px;
    transform-origin: center center;
    position: absolute;
    top: 0; /* 親要素内の上端に配置 */
    left: 50%;
    transform: translateX(-50%); /* 中央寄せ */
    z-index: 2; /* 3Dモデルを上に表示 */
    will-change: transform;
}


.point {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    z-index: 1;
}
.pt-title {
    text-align: center;
    font-family: "Zen Maru Gothic", serif;
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 800;
    padding-top: 60px;
    margin-bottom: 60px;
}
.point-inner  {
    margin: 500px 0;
}
.pointimg {
    margin: 0 20px;
    display: flex;
    gap: 5%;
}
.pt1 {
    margin-bottom: 60px;
}
.pt2 {
    margin-top: 200px;
    margin-bottom: 60px;
}

#products {
    position: relative;
    background-color: #FF5812;
    margin-top: 400px;
}
.ilst {
    position: absolute;
    position: absolute;
    width: 600px;
    right: 0;
    top: -386px;
}
.item {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 5px;
    font-size: 53px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 60px;
    color: #fff;
}
.fragrance {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 150px 20px;
}
.perfume {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.swiper {
    width: 500px;
    height: auto;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-button-prev {
    margin-left: 10px;
}
.swiper-button-next {
    margin-right: 10px;
}
.swiper .swiper-button-next,.swiper .swiper-button-prev{
    background-color: #fff;
    border:  solid 1px #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.swiper .swiper-button-next::after, .swiper .swiper-button-prev::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #000;
    font-size: 1.5rem;
    left: 50px;
}
.swiper .swiper-button-next::after {
    content: '\f054';
    margin-left: 3px;
}
.swiper .swiper-button-prev::after {
    content: '\f054';
    margin-right: 3px;
    transform: rotate(180deg);
}
.fragrance-ditail {
    max-width: 400px;
    height: auto;
}
.fragrance-ditail h4 {
    font-family: "Fredoka", sans-serif;
    color: #fff;
    letter-spacing: 5px;
    font-size: 49px;
    margin-bottom: 20px;
    font-weight: 500;
}
.fragrance-ditail p {
    font-size: 17px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
    margin-bottom: 50px;
}
.ditail-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    gap: 20px;
}
.products-btn {
    margin-top: 60px;
}
.products-btn a{
    font-family: "Fredoka", sans-serif;
    color: #FF5812;
    background-color: #fff;
    border-radius: 45px;
    padding: 13px 71px;
    margin-top: 60px;
}
.bbs{
    align-items: center;
    display: flex;
    height: 150px;
    line-height: 40px;
    overflow:hidden;
    width: 100%;
    white-space:nowrap;
    margin-top: 120px;
    z-index: 1;
}
.bbs ul {
    animation: flowing 40s linear infinite;
    font-family: "Fredoka", sans-serif;
    font-size: 150px;
    font-weight: 900;
    transform: translateX(100%);
    margin: 0;
    padding: 0;
    color: #FF7034;
}
.bbs ul li{
    display: inline-block;
    padding-right: 10px;
}
@keyframes flowing {
    0% { transform:translateX(0); }
    100% { transform:translateX(-100%); }
}
.products-btn2first {
    display: none;
}
.products-btn2secound{
    display: none;
}

#feature {
    padding: 100px 20px;
}
.ft-inner {
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    border: 1px solid #FF5812;
    border-radius: 80px;
    max-width: 740px;
    height: auto;
    align-items: flex-end;
    padding: 60px 80px;
    gap: 80px;
}
.f1 {
    text-align: center;
}
.f1 h4{
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 10px;
}
.f1 p{
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
}
.ft-inner img{
    width: 102px;
    height: auto;
}


#plan {
    background-color: #FF5812;
    padding: 50px 0;
}
.plan-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.plan-inner img {
    max-width: 394px;
    height: auto;
}
.plan-inner div h4 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 10px;
}
.plan-inner div p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 50px;
}
.plan-inner .plan-button .about-button a{
    margin: 0;
}

#q-a {
    display: block;
}
.q-ainner {
    padding: 125px 50px 100px 30px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.q-atitle {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 5px;
    font-size: 53px;
    font-weight: 500;
    margin-bottom: 10px;
}
.q-tx{
    font-family: "Noto Sans", sans-serif;
    color: #FF5812;
    margin-bottom: 50px;
    letter-spacing: 3px;
}
.summary {
    position: relative;
    display: block;
    padding: 20px 50px 20px 30px;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
        background-color: #fdf1df;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition:0.5s;
        right: 1em;
        width: 1em;
        height: 1em;
        background:url('../images/qabuttn.svg') no-repeat center / contain;
    }
}
.details {
    text-align: left;
    border-top: #000 solid 1px;
}
.details:last-of-type {
    text-align: left;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}
.details + .details{
    margin-top:0;
    border-top: #000 solid 1px;
}
.details[open] {
.summary {
    &:before {
    transform: translateY(-50%) rotate(90deg);
    }
}
.content {
    animation: fadeIn 0.5s ease;
}
}
.details-content {
    padding: 10px 10px 20px 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    animation: fadeIn 0.5s ease;
}
.details-content:first-letter {
    font-weight: bold;
    font-size: 20px;
}
@keyframes fadeIn {
0% {
    opacity: 0; 
    transform: translateY(-10px); 
}
100% {
    opacity: 1;
    transform: none;
}
}
.qa-button {
    margin-top: 50px;
}
.btn-tx {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer-inner {
    width: 100%;
    justify-content: space-between;
    background-color: #FF7043;
    gap: 0;
    display: flex;
}
.contact {
    background-color: #FF5812;
    border-radius: 0 80px 0 0;
    text-align: center;
    flex-basis: 40%;
}
.contact-inner{
    padding: 100px 0;
    text-align: center;
    margin: 0 auto;
}
.contacttext-box {
    text-align: left;
    display: inline-block;
    margin-left: -70px;
}
.contact-title {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}
.contact-text {
    font-size: 14px;
    margin-bottom: 40px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 2px;
    color: #fff;
}
.sns {
    display: flex;
    margin-top: 80px;
    margin-left: 20%;
}
.x {
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    margin-right: 10px;
    width: 40px;
    text-align: center;
}
.insta {
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    margin-right: 10px;
    width: 120px;
    text-align: center;
}
.footer-nav{
    gap: 160px;
    padding: 100px 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-list ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 20%;
}
.footer-list li {
    font-size: 14px;
}
.p1{
    margin-top: 15px;
    font-size: 12px;
}
.p2{
    margin-top: 5px;
    font-size: 12px;
}
.footer-list li a{
    color: #fff;
    font-family: "Jost", sans-serif;
}
.nav-title1 {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 5px;
    margin: 0px 0 25px 0;
    font-size: 36px;
    display: block;
    color: #fff;
    font-weight: bold;
}
.nav-title2 {
    display: none;
}

.copylight {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: 20px 0;
}


@media screen and (max-width: 1060px) { 
.footer-inner {
    display: block;
    padding-bottom: 50px;
    border-radius: 0 80px 0 0;
}
.contact {
    width: 100%;
}
.footer-nav {
    display: block;
}
.footer-list {
    margin-left: 20%;
}
.footer-list ul {
    display: block;
    width: 100px;
    margin-left: 10%;
}
.footer-list li {
    margin-bottom: 20px;
}
.p1{
    margin-top: 5px;
}
.nav-title2 {
    display: block;
    text-align: center;
    margin: 50px 0 25px 0;
    font-size: 36px;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
}
.nav-title1 {
    display: none;
}
.sns {
    margin-left: 10%;
}
}

@media screen and (max-width: 960px) {
.maintitle {
    top: 50px;
}
.brsp {
    display: block;
}

.text {
    margin-left: 15%;
}

.pointimg {
    display: block;
}
.pointimg div img{
    margin-bottom: 30px;
}
.pt1 {
    margin-bottom: 0;
}
.pt2 {
    margin-top: 0;
    margin-bottom: 0;
}

.fragrance {
    display: grid;
    grid-template-rows: 40% 60%;
    gap: 50px;
}
.fragrance-ditail h4 {
    font-size: 35px;
}
.fragrance-ditail p {
    font-size: 14px;
}
.perfume {
    display: grid;
    grid-template-rows: 40% 60%;
    gap: 50px;
}
.fragrance-ditail{
    grid-row:1/2;
    margin: 0 auto;
}

.swiper .swiper-pagination {
    margin-bottom: 65px;
}

.products-btn {
    display: none;
}
.products-btn2first{
    padding-bottom: 100px;
    display: block;
    margin-top: -60px;
    justify-content: center;
    text-align: center;
}
.products-btn2first a{
    color: #FF5812;
    background-color: #fff;
    border-radius: 45px;
    padding: 13px 71px;
    margin-top: 60px;
}
.products-btn2secound {
    display: block;
    padding-top: 100px;
    margin-top: -50px;
    justify-content: center;
    text-align: center;
}
.products-btn2secound a{
    color: #FF5812;
    background-color: #fff;
    border-radius: 45px;
    padding: 13px 71px;
    margin-top: 60px;
}

.plan-inner {
    display: block;
    text-align: center;
}
.plan-inner div{
    display: block;
    text-align: center;
}
.plan-inner img{
    margin-bottom: 50px;
    width: 280px;
}
.plan-inner .plan-button .about-button a{
    margin: 0 auto;
}

.qatext-box {
    text-align: left;
    display: inline-block;
    margin-left: -10%;
}

}

@media screen and (max-width: 600px) {
.maintitle {
    top: 50px;
}
.brsp {
    display: block;
}

.title {
    font-size: 25px;
}
.text {
    margin-left: 15%;
}

.aboutbox p {
    text-align: start;
    font-size: 14px;
}
.atensstion {
    font-family: "Noto Sans", sans-serif;
    font-size: 11px;
    text-align: start;
}

.fot1 {
    display: none;
}
.fot2 {
    display: block;
}
.cat-textbox {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.point-inner {
    margin-bottom: 200px;
}
.point-inner h4{
    font-size: 40px;
}
.ilst {
    position: absolute;
    position: absolute;
    width: 310px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -200px;
}

#products {
    margin-top: 100px;
}

.summary {
    font-size: 16px;
}
.details-content {
    font-size: 14px;
}
.details-content:first-letter {
    font-size: 16px;
}


.ft-inner {
    display: block;
}
.f1:first-of-type{
    padding-bottom: 80px;
}

}

@media screen and (max-width: 450px) {
    .openbtn {
        top: 20px;
        right: 20px;
      }

    .swiper {
        margin-top: 50px;
        width: 280px;
    }
    .swiper .swiper-button-next, .swiper .swiper-button-prev {
        width: 30px;
        height: 30px;
        margin-top: -25%;
    }
    .swiper .swiper-button-next::after, .swiper .swiper-button-prev::after {
        font-size: 1rem;
    }
    .swiper .swiper-pagination {
        margin-bottom: 102px;
    }
    .fragrance {
        padding: 0 20px 100px 20px;
    }
    .fragrance-ditail h4 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .fragrance-ditail p {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .ditail-img {
        width: 350px;
    }
    .products-btn2 {
        margin-top: -100px;
    }
    .bbs {
        margin-top: 80px;
    }

    #feature {
        padding: 100px 15px;
    }
    .ft-inner {
        padding: 60px 0px;
    }

}
    
